#tableWrapper{
  height:inherit;
}

#myChart{
  height:inherit;
}

.left{
  float:left;
  height:inherit;
  width:67%;
}

.right{
  float:right;
  width:33%;
  overflow:scroll;
  max-height:inherit;
}

.row{
  width:100%;
  max-height:600px;
  float:left;
}

.margin-top-4{
  margin-top:4px;
}
.margin-top-60{
  margin-top:60px;
}

.pozitivna{
  color:green;
}
.negativna{
  color:rgb(220,20,60);
}