<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting started: SErving web content </title>
    <meta http-equiv="Content-Type" content ="text/html; charset=UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
    <link rel="stylesheet" th:href="@{index.css}"/>
    
</head>
<body>
    
    <form action="#" th:action="@{/index}" th:object="${formDatumi}" method="post">
        Od:&nbsp;<input type="date" th:field="*{Zacetni_Datum}"/>
        Do:&nbsp;<input type="date" th:field="*{Koncni_Datum}"/>
        <div class="margin-top-4">
            <span th:each="oznaka : *{Oznake}">
                <input th:field="*{Oznake['__${oznaka.key}__']}" th:checked="${oznaka.getValue()}" type="checkbox">
                <label th:text="${oznaka.getKey()}"></label>
            </span>
        </div>
        <div>
            <button class="margin-top-4" type="submit">Potrdi</button>
        </div>
    </form>
    <div class="row">
        <div class="left">
            <canvas id="myChart"></canvas>
        </div>
        <div class="right" th:if="${list!=null && !list.isEmpty()}">
            <div id="tableWrapper">
                <table>
                    <thead>
                        <tr>
                            <th> Valuta/Datum </th>
                            <th th:each="oznaka : ${oznake}">
                                <span th:text="${oznaka}"></span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="tecajnica : ${list}">
                            <td><span th:text="${tecajnica.datum}"> Title </span></td>
                            <td th:each="oznaka : ${oznake}"><span th:text="${tecajnica.findTecajZOznako(oznaka).vrednost}"></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
   
    <div class="row margin-top-60" th:if="${list!=null && oznake.size == 2}" >
        <span>Zasluzki oz. izgube</span>
        <br>
        <span>Izbira začetne valute in zacetni znesek, ki ga želimo pretvoriti.</span>
        <div class="margin-top-4">
            <span th:each="oznaka, iterator : ${oznake}">
                <input type="radio" th:id="*{oznaka}" name="oznake_za_pretvorbo" th:value="${oznaka}" th:checked="${iterator.count == 1 ? true : false}">
                <label th:for="${oznaka}">[[${oznaka}]]</label>
            </span>
        </div>
        <br>
        Znesek: <input type="text" value="100" id="znesek"/>
        <span id="prva_valuta" th:text="${oznake.get(0)}" hidden></span>
        <span id="zac_prva_valuta" th:text="${list.get(0).findTecajZOznako(oznake.get(0)).vrednost}" hidden></span>
        <span id="kon_prva_valuta" th:text="${list.get(list.size - 1).findTecajZOznako(oznake.get(0)).vrednost}" hidden></span>

        <span id="druga_valuta" th:text="${oznake.get(1)}" hidden></span>
        <span id="zac_druga_valuta" th:text="${list.get(0).findTecajZOznako(oznake.get(1)).vrednost}" hidden></span>
        <span id="kon_druga_valuta" th:text="${list.get(list.size - 1).findTecajZOznako(oznake.get(1)).vrednost}" hidden></span>
        
        <input id="izracunaj" type="button" value="izracunaj" onclick="izracunaj()" />
        <div>
            <div id="pretvorba_tekst"></div>
            <span id="rezultat"></span><br>
            <span id="zacetna_vrednost"></span><br>
            <span id="razlika"></span>
        </div>
    </div>
    <script th:if="${list!=null && !list.isEmpty()}" th:inline="javascript">
    /*<![CDATA[*/
        //https://www.chartjs.org/docs/latest/samples/line/line.html
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: /*[[${datumi}]]*/ 'default',
                datasets: [],
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                precision: 8
                            }
                        }]
                    }
                }
            },
        });

        function dodajNovDataSet(tocke, valuta, barva){
            const data = myChart.data;
            const dsColor = barva;
            const newDataset = {
                label: valuta,
                backgroundColor: dsColor,
                borderColor: dsColor,
                data: tocke,
            };
            myChart.data.datasets.push(newDataset);
            myChart.update();
        }

        //https://stackoverflow.com/questions/10014271/generate-random-color-distinguishable-to-humans
        function izberiBarvo(stevilkaBarve, steviloVsehBarv){
            if (steviloVsehBarv < 1) steviloVsehBarv = 1; // defaults to one color - avoid divide by zero
            return "hsl(" + (stevilkaBarve * (360 / steviloVsehBarv) % 360) + ",100%,50%)";
        }

        //Za vsako oznako poberemo iz Mape vseTocke vrednosti in jih nato dodamo v nov dataset
        /*[# th:each="oznaka, iterator : ${oznake}"]*/
        dodajNovDataSet(/*[[${vseTocke.get(oznaka)}]]*/ 'default', /*[[${oznaka}]]*/ 'default', izberiBarvo(/*[[${iterator.count - 1}]]*/0, /*[[${oznake.size}]]*/0));
        /*[/]*/

    /*]]>*/

    function izracunaj(){
            let znesek = parseFloat(document.getElementById("znesek").value).toFixed(2);
            //https://stackoverflow.com/questions/9618504/how-to-get-the-selected-radio-button-s-value
            let izbrana_zacetna_valuta = document.querySelector('input[name="oznake_za_pretvorbo"]:checked').value;

            let prva_valuta = document.getElementById("prva_valuta").innerHTML;
            let zac_prva_valuta = document.getElementById("zac_prva_valuta").innerHTML;
            let kon_prva_valuta = document.getElementById("kon_prva_valuta").innerHTML;

            let druga_valuta = document.getElementById("druga_valuta").innerHTML;
            let zac_druga_valuta = document.getElementById("zac_druga_valuta").innerHTML;
            let kon_druga_valuta = document.getElementById("kon_druga_valuta").innerHTML;

            let zac_pretvornik, kon_pretvornik;
            let tekst = "";
            //Naredi pretovrnike iz naprimer valute USD v GBP, to pa je potrebno narediti zato ker so vse pretvorbe normalizirane z EUR (EUR = 1).
            if(izbrana_zacetna_valuta == prva_valuta){
                zac_pretvornik = zac_druga_valuta / zac_prva_valuta;
                kon_pretvornik = kon_prva_valuta / kon_druga_valuta;
                tekst = "Pretvorba iz " + prva_valuta + " -> " + druga_valuta + ".";
            }
            else{
                zac_pretvornik = zac_prva_valuta / zac_druga_valuta;
                kon_pretvornik = kon_druga_valuta / kon_prva_valuta;
                tekst = "Pretvorba iz " + druga_valuta + " -> " + prva_valuta + ".";
            }

            //Pretvorba v drugo valuto v prvem terminu
            let koncniZnesek = (znesek * zac_pretvornik) * kon_pretvornik;

            document.getElementById("pretvorba_tekst").innerHTML = tekst;
            document.getElementById("rezultat").innerHTML = koncniZnesek.toFixed(2);
            document.getElementById("zacetna_vrednost").innerHTML = znesek;

            let razlika = koncniZnesek.toFixed(2) - znesek;
            document.getElementById("razlika").classList.remove("pozitivna");
            document.getElementById("razlika").classList.remove("negativna");
            document.getElementById("razlika").classList.add(razlika > 0 ? "pozitivna" : "negativna");
            document.getElementById("razlika").innerHTML = razlika.toFixed(2);
        }
    </script>
</body>
</html>